@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.button-start {
  width: 49%;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: 'DM Serif Display', serif;
  background-color: transparent;
  border: 2px solid #1CB698;
  color: #ffffff;
  font-size: 2.5rem;
  font-style: normal;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-start:hover {
  background-color: #1CB698;
  color: #1E2326;
}

@media screen and (max-width:910px) {
  .button-start {
    font-size: 2rem;
  }
}