.portfolio-card-container {
    display: flex;
    border-radius: 20px;
    background-color: #394953;
    transition: all .1s ease-in;
    width: 30%;
    height: 400px;
    margin:1%;
}

.portfolio-card-container:hover, .portfolio-card-container:focus {
    filter: brightness(120%);
    border: 3px solid #1CB698;
}

/*Para que funcione el active en mobile se debe poner en este orden*/
.portfolio-card-container:active{
    filter: brightness(120%);
    border:none;
}

.portfolio-card {
    width: 80%;
    height: 50%;
    margin:auto;
}

.portfolio-card img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.portfolio-card-expanded{
    display: none;
}

@media (max-width: 768px){
    .portfolio-card-container {
        width: 100%;
        margin: 0 auto 25px auto;
    }

}